

[commit]
    template = ~/dotfiles/.gitmessage

[include]
    path = ~/dotfiles/.git_aliases

[core]
	compression = 0
	#pager = cat
	pager = awk 1
	excludesfile = ~/dotfiles/.gitignore

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
