[commit]
    template = ~/.gitmessage

[cola]
	spellcheck = false

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[http]
	postBuffer = 1048576000
	maxRequestBuffer = 100M

[core]
    compression = 0
    # Use a no-op pager to disable paging; uncomment the preferred option
    #pager = cat
    pager = awk 1
    # Use a relative path for the global .gitignore file for better portability
    excludesfile = ~/.gitignore


[diff]
[gui]

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[include]
    path = ~/.git_aliases

[include]
    path = ~/.gitconfig.local

