# Address the naming differences of the fd utility across various Linux distributions...
# If 'fdfind' is available but 'fd' is not, alias 'fd' to 'fdfind'
if command -v fdfind >/dev/null 2>&1 && ! command -v fd >/dev/null 2>&1; then
  alias fd='fdfind'
fi
# If 'fd' is available but 'fdfind' is not, alias 'fdfind' to 'fd'
if command -v fd >/dev/null 2>&1 && ! command -v fdfind >/dev/null 2>&1; then
  alias fdfind='fd'
fi


# fzf with hidden files and preview
#alias fz='fdfind --type f --hidden | fzf'
alias fz='fdfind --type f --hidden --exclude .git | fzf --preview "bat --style=numbers --color=always {} || cat {}"'

# jump to a dir
alias fzcd='selected=$(fdfind --type d --hidden --exclude .git | fzf --preview "ls -la {}") && [ -n "$selected" ] && cd "$selected"'
alias f='fzcd'
