# g ######################################################################
#alias g=git
# When invoked without arguments g will do a status, otherwise it will
# just pass on the given arguments to the git command. Status is likely
# to the be Git command one will execute the most, hence this simple
# enhancement does prove very useful in practice.
#alias g='_f() { if [[ $# == 0 ]]; then git status --short --branch; else git "$@"; fi }; _f'
alias g='_f() { if [[ $# == 0 ]]; then git status; else git "$@"; fi }; _f'
#complete -o default -o nospace -F _git g

# .gitkeep #################################################################
# [g]it [f]ind [e]mpty - search for empty dirs (git will not add to tree)
alias gfe='find . -type d -empty -not -path "./.git/*" -not -path "./.metadata/*" -not -path "*/target/*"'
# [g]it [k]eep [e]mpty - add .gitkeep files to all empty dirs to make git to add to tree
alias gke='find . -type d -empty -not -path "./.git/*" -not -path "./.metadata/*" -not -path "*/target/*" -exec touch {}/.gitkeep \;'

alias nukegit='find . -name .git -type d -not -path ./.git -exec rm -rf {} +'

# aliases to bin ###########################################################
alias gw='git-wtf'
