

[commit]
    template =$DOTFILES_ROOT/config/git/.gitmessage

[include]
    path = $DOTFILES_ROOT/config/git/.git_aliases

[core]
    compression = 0
    #pager = cat
    pager = awk 1
    excludesfile = $DOTFILES_ROOT/config/git/.gitignore

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
